nav {
  display: flex;
  justify-content: space-between;
  padding: 1.5vmax 4vw;
  background-color: #ED5353;
  border-radius: 0 0 50px 50px;
  position: relative;
  overflow: hidden;
  z-index: 1;
}
nav .rectangle1 {
  z-index: -1;
  width: 15vmax;
  height: auto;
  left: 0;
  bottom: 0;
  position: absolute;
}
nav .rectangle2 {
  z-index: -1;
  position: absolute;
  width: 25vmax;
  height: auto;
  top: 10%;
  left: 50%;
  transform: translate(-50%, -50%);
}
nav .rectangle3 {
  z-index: -1;
  position: absolute;
  width: 20vmax;
  height: 5.5vmax;
  right: 4%;
  top: 0;
}
nav .logo .logo-link {
  z-index: 10;
  text-decoration: none;
  font-size: 1.2vw;
  color: #fff;
  font-display: "DM sans";
  font-weight: 700;
}
@media (max-width: 576px) {
  nav .logo .logo-link {
    font-size: 3vw;
  }
}
nav .login-signup {
  display: flex;
  gap: 2em;
}
@media (max-width: 576px) {
  nav .login-signup .user-name {
    font-size: 1.8vmax;
    color: #fff;
  }
}
nav .login-signup .login,
nav .login-signup .logout {
  cursor: pointer;
  font-size: 0.8em;
  letter-spacing: 1px;
  padding: 0.5vw 0.8vw;
  color: #fff;
  border: 2px solid #fff;
  outline: none;
  border-radius: 5px;
  font-weight: 500;
  background-color: transparent;
}
nav .login-signup .register {
  cursor: pointer;
  padding: 0.5vw 0.8vw;
  color: #ED5353;
  border: 2px solid #fff;
  font-size: 0.8em;
  letter-spacing: 1px;
  font-weight: 500;
  border-radius: 5px;
  outline: none;
  background-color: #fff;
}

.main {
  overflow-x: hidden;
  background-color: #FFEFEF;
  height: 100vh;
  font-family: "DM sans";
}
.main .main-job-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1.5em;
}
.main .main-job-container .job-heading {
  z-index: 999;
  margin-top: -20px;
  text-align: center;
  width: 50%;
  background-color: #fff;
  padding: 1vmax 2vmax;
}
.main .main-job-container .job-heading h3 {
  font-size: 1vw;
}
@media (max-width: 576px) {
  .main .main-job-container .job-heading {
    margin-top: -5px;
    width: 80%;
    padding: 0.5vmax 1vmax;
  }
  .main .main-job-container .job-heading h3 {
    font-size: 2.5vw;
  }
}
.main .main-job-container .job-description {
  background-color: #fff;
  padding: 1vmax 2vmax;
  width: 50%;
  display: flex;
  flex-direction: column;
  gap: 0.3vw;
}
.main .main-job-container .job-description .createdAt-type {
  display: flex;
}
.main .main-job-container .job-description .createdAt-type p {
  color: #999999;
  font-size: 1vw;
}
.main .main-job-container .job-description p {
  color: #595959;
  font-size: 1vw;
}
.main .main-job-container .job-description .location {
  margin-top: -1em;
  margin-bottom: 1em;
  color: #ED5353;
}
.main .main-job-container .job-description h1 {
  font-size: 1.2vmax;
  margin-bottom: 0.6em;
}
.main .main-job-container .job-description .salary {
  color: #999999;
  display: flex;
  font-size: 1vw;
  align-items: center;
  gap: 3px;
}
.main .main-job-container .job-description .position {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.main .main-job-container .job-description .position h1 {
  font-size: 2vmax;
}
.main .main-job-container .job-description .position .edit-job {
  padding: 0.5vw 1vw;
  border-radius: 5px;
  outline: none;
  border: 0;
  font-size: 0.8vmax;
  background-color: #ED5353;
  color: #fff;
  font-weight: 700;
  margin: 0.8vw 0 0.5vw 0;
}
@media (max-width: 576px) {
  .main .main-job-container .job-description .position .edit-job {
    font-size: 2.8vw;
  }
}
.main .main-job-container .job-description .money {
  margin-bottom: 1em;
}
.main .main-job-container .job-description .skill-required .skills {
  display: flex;
  gap: 1em;
}
.main .main-job-container .job-description .skill-required .skills h1 {
  background-color: #FFEEEE;
  font-size: 1.2vw;
  font-weight: 400;
  padding: 5px 15px;
  border-radius: 100px;
}
@media (max-width: 576px) {
  .main .main-job-container .job-description {
    width: 80%;
  }
  .main .main-job-container .job-description .createdAt-type p {
    font-size: 3vw;
  }
  .main .main-job-container .job-description p {
    font-size: 3vw;
  }
  .main .main-job-container .job-description h1 {
    font-size: 3vw;
  }
  .main .main-job-container .job-description .location {
    margin-top: -0.5em;
    font-size: 3vw;
  }
  .main .main-job-container .job-description .salary {
    font-size: 3vw;
  }
  .main .main-job-container .job-description .position h1 {
    font-size: 3.5vw;
  }
  .main .main-job-container .job-description .skill-required .skills {
    gap: 0.5em;
  }
  .main .main-job-container .job-description .skill-required .skills h1 {
    font-size: 2.5vw;
    font-weight: 500;
    padding: 2px 5px;
  }
}/*# sourceMappingURL=Viewjob.css.map */