.update-job-container {
  display: flex;
  flex-wrap: wrap;
  font-family: "DM sans";
}
@media (max-width: 768px) {
  .update-job-container {
    flex-direction: column;
  }
}
.update-job-container .left-side {
  flex: 1 0 0;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 0 5vw;
}
.update-job-container .left-side h1 {
  font-size: 3vw;
  margin-bottom: 1vw;
}
@media (max-width: 768px) {
  .update-job-container .left-side h1 {
    font-size: 4vw;
  }
}
.update-job-container .left-side h4 {
  font-size: 1.5vw;
  color: #525252;
  margin: 1vw 0 2vw 0;
}
@media (max-width: 768px) {
  .update-job-container .left-side h4 {
    font-size: 2vw;
  }
}
.update-job-container .left-side .add-job {
  display: flex;
  flex-direction: column;
  gap: 1vw;
}
.update-job-container .left-side .add-job .job-details {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.update-job-container .left-side .add-job .type-container,
.update-job-container .left-side .add-job .description {
  display: flex;
  align-items: center;
}
.update-job-container .left-side .add-job h5 {
  flex: 1 0 0;
  text-transform: capitalize;
  font-weight: 600;
  font-size: 1.5vmax;
}
@media (max-width: 768px) {
  .update-job-container .left-side .add-job h5 {
    font-size: 1.8vmax;
  }
}
.update-job-container .left-side .add-job .job-type,
.update-job-container .left-side .add-job .remote-office,
.update-job-container .left-side .add-job .textarea {
  font-family: "DM sans";
  flex: 1.5 0 0;
}
.update-job-container .left-side .add-job select {
  border: 1px solid #C2C2C2;
  width: 40%;
  padding: 1vw;
  font-size: 1.2vw;
  color: #ADADAD;
  text-align: center;
  outline: none;
  border-radius: 5px;
}
@media (max-width: 768px) {
  .update-job-container .left-side .add-job select {
    font-size: 3vw;
  }
}
.update-job-container .left-side .add-job label {
  text-transform: capitalize;
  font-weight: 600;
  font-size: 1.5vmax;
}
@media (max-width: 768px) {
  .update-job-container .left-side .add-job label {
    font-size: 1.8vmax;
  }
}
.update-job-container .left-side .add-job textarea {
  border: 1px solid #C2C2C2;
  border-radius: 5px;
  resize: none;
  padding: 5px;
  width: 100%;
  outline: none;
  font-family: "DM sans";
  font-size: 1.2vw;
}
@media (max-width: 768px) {
  .update-job-container .left-side .add-job textarea {
    font-size: 1.5vw;
  }
}
.update-job-container .left-side .add-job input {
  padding: 1vw;
  border-radius: 5px;
  border: 1px solid #C2C2C2;
  outline: none;
  font-size: 1.2vw;
  width: 60%;
}
@media (max-width: 768px) {
  .update-job-container .left-side .add-job input {
    width: 60%;
    font-size: 3vw;
  }
}
.update-job-container .left-side .add-job ::-moz-placeholder {
  color: #ADADAD;
  font-size: 1vmax;
  font-family: "DM sans";
}
.update-job-container .left-side .add-job ::placeholder {
  color: #ADADAD;
  font-size: 1vmax;
  font-family: "DM sans";
}
@media (max-width: 768px) {
  .update-job-container .left-side .add-job ::-moz-placeholder {
    font-size: 1.2vmax;
  }
  .update-job-container .left-side .add-job ::placeholder {
    font-size: 1.2vmax;
  }
}
.update-job-container .left-side .add-job .buttons {
  display: flex;
  justify-content: flex-end;
  gap: 1vw;
}
.update-job-container .left-side .add-job button {
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 20%;
  padding: 1vw;
  border-radius: 5px;
  outline: none;
  border: 0;
  font-size: 1.2vw;
  background-color: #ED5353;
  color: #fff;
  font-weight: 600;
}
@media (max-width: 768px) {
  .update-job-container .left-side .add-job button {
    font-size: 2.8vw;
  }
}
.update-job-container .left-side .add-job .cancel-btn {
  color: #C2C2C2;
  background-color: transparent;
  border: 2px solid #C2C2C2;
  font-size: 1.2vw;
}
@media (max-width: 768px) {
  .update-job-container .left-side .add-job .cancel-btn {
    font-size: 2.8vw;
  }
}
.update-job-container .right-side {
  flex: 1 1 0;
  height: 100vh;
  color: #fff;
  text-align: center;
}
.update-job-container .right-side h1 {
  margin-top: 1vw;
  font-size: 3vw;
}
@media (max-width: 768px) {
  .update-job-container .right-side h1 {
    margin-top: 2vw;
    font-size: 4vw;
  }
}
@media (max-width: 768px) {
  .update-job-container .right-side {
    order: -1;
    height: auto;
  }
}/*# sourceMappingURL=JobDescription.css.map */